body{
    background-color: rgba(0, 0, 0, 0.88);
  }
  *{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: -30px;
  }
  #header h1{
    color: whitesmoke;
    margin-left: 16px;
    width: 260px;
  }
  .day-time{
    display: block;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
  }
  #input{
    margin-bottom: 50px;
    width: 41%;
    padding: 20px 40px;
    height: 40px;
    border-radius: 25px;
    border: none;
  }
  #input:focus{
    border: none;
    outline: none;
  }
  #search-icon{
    width: 24px;
  }
  #search-box{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 16px;
  }
  #search-click{
    display: flex;
    justify-content: center;
    border-radius: 25px;
  }
  #search-button{
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: none;
    box-shadow: 8px 8px 24px #AD36CB inset;
    background-color: rgb(114, 114, 114);
    transition: box-shadow 0.3s ease-in-out;
    will-change: box-shadow;
  }
  #search-button:hover{
    box-shadow: 2px 8px  24px #AD36CB;
  }